body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	h1 {
		color: rgb(209, 168, 85);
	}

	nav {
		background-color: #222;
		padding: .5rem;

		a {
			color: #aaa;
			text-decoration: none;
			margin-right: 1rem;
		}

		a.active {
			color: rgb(211, 211, 110);
		}
	}

	.pageBooks {
		padding-top: 2rem;
		.books {
			.book {
				display: flex;
				gap: 1rem;
				margin-bottom: 2rem;

				img {
					width: 8rem;
				}

				.title {
					font-size: 1.6rem;
					color: rgb(197, 161, 94);
				}

				.description {
					font-style: italic;
				}

				.language {
					color: rgb(82, 186, 82);
					font-size: 1.2rem;
					margin-top: .5rem;
				}
			}
		}

		.spinner {
			font-size: 7rem;
			color: #444;
			animation: spin infinite 2s linear;
		}

		@keyframes spin {
			from {
				transform: rotate(0deg);
			}

			to {
				transform: rotate(360deg);
			}
		}
	}
}